/resources/public/js/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
/.idea
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
splines/.idea/
.rebel_readline_history
*.iml
.cpcache
figwheel-reagent-template.iml


